name: Esecuzione Probabili Serie A

on:
  schedule:
    # Lunedì–Mercoledì ogni ora
    - cron: "0 5-22 * * 1"
    - cron: "0 5-22 * * 2"
    - cron: "0 5-22 * * 3"

    # Giovedì ogni 30 minuti
    - cron: "0 5-22 * * 4"
    - cron: "30 5-22 * * 4"

    # Venerdì ogni 10 minuti
    - cron: "*/10 5-22 * * 5"

    # Sabato ogni 10 minuti
    - cron: "*/10 5-22 * * 6"

    # Domenica ogni 30 minuti
    - cron: "0 5-22 * * 0"
    - cron: "30 5-22 * * 0"

  workflow_dispatch:


jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install --with-deps chromium

      - name: Decode Google Credentials
        run: |
          echo "${GOOGLE_CREDENTIALS_B64}" | base64 --decode > credentials.json
        env:
          GOOGLE_CREDENTIALS_B64: ${{ secrets.GOOGLE_CREDENTIALS_B64 }}
      
      - name: Check decoded file
        run: |
          echo "Decoded file size:"
          wc -c credentials.json | awk '{print $1}'

      - name: Run script
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/credentials.json
        run: python probabili.py
