name: Esecuzione Probabili Serie A

on:
  schedule:
    - cron: "0 5-22 * * 1-3"   # Lunedì–Mercoledì ogni ora
    - cron: "0,30 5-22 * * 4"  # Giovedì ogni 30 minuti
    - cron: "*/10 5-22 * * 5,6" # Venerdì–Sabato ogni 10 minuti
    - cron: "0,30 5-22 * * 0"  # Domenica ogni 30 minuti

  workflow_dispatch:


jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install --with-deps chromium

      - name: Decode Google Credentials
        run: |
          echo "${GOOGLE_CREDENTIALS_B64}" | base64 --decode > credentials.json
        env:
          GOOGLE_CREDENTIALS_B64: ${{ secrets.GOOGLE_CREDENTIALS_B64 }}



      - name: Run script
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/credentials.json
        run: python probabili.py
